beautifulsoup4
cleverwrap
feedparser
future
geoip2
imgurpython
isodate
lxml
git+https://github.com/CloudBotIRC/mcstatus.git@master
microdata
nltk
psutil
pyenchant
python-dateutil
pythonwhois
SQLAlchemy
tweepy
watchdog
wheel
